// bootstrap resets
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-container {
  z-index: 1000;
  position: fixed;
  left: 200px;
  width: 260px;
  height: 100%;
  margin-left: -200px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #fff;
  top: 0;
  transition: all .5s ease;

    //Left Hand Menu scrollbar settings 

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: #9fa273;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #858864;
    border-radius: 6px;
  }

}

#wrapper {
  transition: all .5s ease;
}

.menu-toggle-btn-desktop {
  width: 46px;
  float: left;
  margin-right: 30px;
  position: relative;
  top: -2px;
}

.menu {
  width: 260px;
  position: absolute;
  height: 100%;
  background: #9fa273;
}

.menu__top {
  padding: 14px 5px 13px 5px;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.menu__logo {
  display: block;
  float: left;
}

.menu__title {
  display: block;
  float: left;
  margin-left: 10px;
  padding-top: 6px;
  font-weight: 700;
  color: #fff;

  &:hover {
    color: #000;
    text-decoration: none;
    transition: all 150ms ease;
  }
}

.menu__icon {
  font-size: 12px;
  width: 16px;
  text-align: center;
  margin-right: 13px;
  color: #5b5d40;
}

.menu__arrow-icon {
  float: right;
  margin: 5px 8px 0 0px;
}

.menu__link {
  display: block;
  padding: 10px 15px 10px 15px;
  color: #fff;
  text-decoration: none;
  background: #9fa273;
  font-size: 14px;

  &:hover {
    color: #000 !important;
    text-decoration: none;
    background: #ffffff6e;
    transition: all 500ms ease-out;
  }

  &:visited {
    color: #fff;
    text-decoration: none;
  }
}

// context menu
.context-menu-container {
  position: fixed;
  left: 44px;
  width: 210px;
  height: 100%;
  background: rgb(255,255,255);
}

.context-menu {
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
}

.context-menu__title {
  font-size: 15px;
  color: #5b5d40;
  padding: 18px 0 17px 8px;
  border-bottom: 1px solid #ccc;
}

.context-menu__title-icon {
  margin: 0 0 0 0;
  padding-right: 2px;
  font-size: 12px;
}

.context-menu__btn-close {
  float: right;
  margin-right: 10px;
  color: #5b5d40;
  font-size: 14px;
  top: 2px;
  position: relative;

  &:hover {
    color: #000;
  }
}

.context-menu__link {
  display: block;
  padding: 10px;
  color: #5b5d40;
  font-size: 14px;
  text-decoration: none;
  background: transparent;

  &:hover {
    color: #000;
    text-decoration: none;
    background: #9fa2739e;
    cursor: pointer;
    transition: all 500ms ease-out;
  }

  &:visited {
    color: #5b5d40;
  }
}

.context-menu__link--active {
  background: #fff;
  color: #000;
}

// links
.menu__link--active {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 44px, rgba(255,255,255,0) 44px);
  color: #000;
}

.slide-fade-enter-active {
  transition: all 0.2s ease;
}

.slide-fade-leave-active {
  transition: all 0.2s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translate3d(-30px, 0, 0);
  opacity: 0;
}


/* Category Divider */

.menu-cat-divider {
  margin-top: 14px;
  margin-bottom: 6px;
  padding: 10px 15px 10px 15px;
  color: white;
  font-size: 18px;
  background-color: #83865c4f;

  .menu__icon {
    font-size: 18px;
    position: relative;
    left: -2px;
    margin-right: 12px;
  }
}

.no-child {
  margin-right: 12px;
}
